        
        <% include ./partials/header.ejs %>
        <div class="container back" >
            <!-- <div class="container" style="height: 200px; width: 400px; border: 1px solid black; background-image: url('./images/rednblackio.jpg')"> -->
            <div class="col">
            
                <% data.forEach(function(obj) { %>
                    <h3 class='h3Nospace'>
                    <%= obj.tag %>
                    <img src="<%= obj.imageLink %>" alt="Right Arrow" height="50" width="50">
                    <%= obj.description %></h3>

                <% }) %>   
        </div>
        
        <p></p>
        <% include ./partials/footer %>
    


  <!-- "tag": "Array Properties",
  "imageLink": "enter image link here",
  "description": "Image Description" -->