<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h1>Hey this is index</h1>
	</header>
	<nav>
		<% include ./partials/nav.ejs %>
	</nav>
	<div id="main">
		
	</div>
	<footer>
		<% include ./partials/footer.ejs %>
	</footer>
</body>
</html> 