<% include partials/header %>
<% include partials/nav%>

  <h1>Login</h1>
  <form action="/login" enctype="multipart/form-data" method="POST">
    <div class="row">
      <input type="email" name="email" placeholder="Your email" />
    </div>

    <div class="row">
      <input type="password" name="password" placeholder="Password" />
    </div>

    <div class="row">
     <input type="submit" value="Submit" />
    </div>

    <div class="links">
     <a href="/signup">Signup for an account</a>
    </div>
  </form>
      
<% include partials/footer %>
