<% include globals/header %>

<div class="links">
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
  <a href="/images/create">Create a New Image</a>
</div>

<main>
  <div class="login">
    <h1>Login</h1>
      <form action="/login" enctype="multipart/form-data" method="POST">
        <div class="row">
          <input type="email" name="email" placeholder="Your email" />
        </div>

        <div class="row">
          <input type="password" name="password" placeholder="Password" />
        </div>

        <div class="row">
          <input type="submit" value="Submit" />
        </div>

        <div class="links">
          <a href="/signup">Signup for an account</a>
        </div>
      </form>
    </div>
</main>

<% include globals/footer %>