<% include partials/header %>
<% include partials/nav%>

<main>
    <div>
        <h1>Sign Up for an Account</h1>

        <form action="/signup" nctype="multipart/form-data" method="POST">
            <div class="row">
            Email<br>
            	<input type="email" name="email" required placeholder="Your email" />
            </div>

            <div class="row">
            Password<br>
              <input type="password" name="password" required placeholder="password" />
            </div>

            <div class="row">
            Confirm Password<br>
              <input type="confirm-password" name="confirm-password" required placeholder="retype your password" />
            </div>

            <div class="row">
                <input type="submit" value="Submit" />
            </div>
          </form>
        </div>
    </main>

<% include partials/footer %>